<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/script.js"></script>
<h1> Quote: <%=quote%></h1>
<form method="post" id="changeQuote">
    <input
        type="text"
        placeholder= "AAA"
        name="quote"
        id="value-name"
    />
    <input type="submit" value="Save" />
</form>