<header>
  <div class="header">
    <span class="title">ReelRecommendations</a></span>
  </div>
</header>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MoviesDB</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../header.css">
</head>
<div class="content">
<h2>Log in</h2>
<%- include('./partials/messages.ejs') %>


<br>

<form action="/users/login" method="POST">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
<br>
No Account? <a href="/users/register">Register now</a>
</p>
</div>
</div>
</div>
</div>

<style>
  .fade {
    opacity: 100;
  }

  .content{
    margin-left: 20px;
  }

  .form-control{
    width:40%;
  }

  .btn-block{
    width:auto;
  }
</style>