<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="header.css">

<head>
    <header>
        <div class="header">
            <span class="title"><a href="/index">ReelRecommendations</a></span>
            <span class="log-out"><a href="/users/logout">Log out</a></span>
            <span class="watchlist"><a href="/watchlist">Watchlist</a></span>
        </div>
    </header>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
</head>

<body>
    <div class="centreTitle" id="primaryTitle">...</div>
</body>
<script src='/movies.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>


<style>

    
    img {
        max-width: 120px;
        max-height: 150px;
        margin: 10px;
    }

    .buttonClass {
        display: table-cell;
        padding-left: 27px;
        padding-top: 10px;
        float: left;
        width: 16%;

    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 90%;
        height: inherit;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
        z-index: 9999;
        flex-direction: column;
        align-items: center;
    }

    .popup h3 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-align: center;
        text-decoration: underline;
    }

    .popup p {
        font-size: 18px;
        margin: 0 0 5px 300px;
        text-align: left;
    }

    .popup .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .popup iframe {
        display: block;
        margin: auto 0;
        float: left;
        height: 150px;
        width: 250px;
    }

    .centreTitle {
        width: 300px;
        height: auto;
        background-color: white;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        border: 3px solid black;
        padding: 5px;
    }
</style>