<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<head>
    <div class="header">
        <span class="title"><a href="/index">Movie Recommendations Made Easy</a></span>
        <span class="settings">Settings</span>
        <meta charset="UTF-8">
        <title>Movie Watchlist</title>
</head>

<body>
    </div>
    <script src='watchlist.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>
<style>
    .header {
        background-color: #333;
        height: 70px;
        padding: 0 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .settings {
        float: right;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        color: white;
    }


    img{
        margin-right: 8px;
    }

    .title {
        float: left;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        color: white;

    }

    .title a {
        text-decoration: none;
        color: white;
    }

    .movie {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 4px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;

    }

    .movie-poster {
        flex: 0 0 auto;
        width: 150px;
        margin-right: 20px;
    }

    .movie-title {
        margin-top: 5px;
        text-decoration: underline;
    }

    .text-content {
        margin-right: 5%;

    }

    .movie-video {
        flex: 0 0 auto;
        width: 400px;
        height: 275px;
        border: none;
        margin-left: 20px;
        margin-inline-start: auto;
        place-self: center;
    }
</style>